	body {
	 animation: colorchange 5s; /*animation-name followed by duration in seconds*/
	 /* you could also use milliseconds (ms) or something like 2.5s */
		-webkit-animation: colorchange 5s; /* Chrome and Safari */
    animation-direction: normal;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-name: colorchange;
    animation-timing-function: ease;
		}
		
		@keyframes colorchange
		{
		 0% 	{background: white;}
		 25%	{background: grey;}
		 50%	{background: black;}
		 75%	{background: grey;}
		 100%	{background: white;}
		 }
		 
		 @-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
		 {
		  0%	{background: green;}
		 25%	{background: gold;}
		 50%	{background: green;}
		 75%	{background: gold;}
		 100%	{background: green;}
		 }
		 
}
		
